body {
    background-color: #E5E0D8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    max-width: 600px;
    background-color: #F9F5F0;
    padding: 30px;
    margin: 60px auto;
    margin-bottom: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    border-radius: 15px;
}

h1 {
    font-size: 36px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    margin: 0 0 5px;
    font-size: 26px;
}


select {
    font-size: 15px;
    padding: 10px;
    width: 100%;
    display: block;
    border-radius: 10px;
}

.city {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 30px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
}

.city:last-child {
    border: none;
}

.time {
    font-size: 40px;
    font-weight: bold;
}

.time small {
    font-size: 18px;
    vertical-align: middle;
}

.date {
    opacity: 0.6;
}

footer {
    text-align: center;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}